/* Variáveis de cor */
:root {
    --cor-fundo-header: #3b3b58;
    --cor-texto-header: #ffffff;
    --cor-fundo-body: #1e1e2e;
    --cor-fundo-container: #ffffff;
    --cor-sombra-container: rgba(0, 0, 0, 0.1);
    --cor-borda-input: #ccc;
    --cor-borda-input-focus: #ff007a;
    --cor-sombra-input-focus: rgba(255, 0, 122, 0.5);
    --cor-botao: #6200ea;
    --cor-botao-hover: #3700b3;
    --cor-texto-botao: #ffffff;
    --cor-fundo-footer: #3b3b58;
    --cor-texto-footer: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 2rem;
    height: 10vh;
    width: 100%;
    background-color: var(--cor-fundo-header);
    color: var(--cor-texto-header);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-fundo-body);
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    color: #ffffff;
}

main.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 15vh);
    width: 100%;
    padding: 20px;
}

form {
    background-color: var(--cor-fundo-container);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--cor-sombra-container);
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
}

.grupo-formulario {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    color: var(--cor-fundo-body);
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-borda-input);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--cor-fundo-body);
}

input:focus {
    border-color: var(--cor-borda-input-focus);
    outline: none;
    box-shadow: 0 0 10px var(--cor-sombra-input-focus);
}

.grupo-botoes {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--cor-botao-hover);
    transform: scale(1.05);
}

footer {
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    color: var(--cor-texto-footer);
    background-color: var(--cor-fundo-footer);
    text-align: center;
    font-size: 0.9rem;
}


.resultado-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid var(--cor-borda-input);
    border-radius: 5px;
    background-color: var(--cor-fundo-container);
    overflow-x: auto; 
    overflow-y: auto;
    min-width: 600px; 
    max-height: 70vh;
    margin-bottom: 20px;
    padding-right: 20px;
    color: var(--cor-fundo-body);
}

.resultado-table th, .resultado-table td {
    border: 1px solid var(--cor-borda-input);
    padding: 12px;
    text-align: left;
}

.resultado-table th {
    background-color: var(--cor-botao);
}

#resultados {
    padding-bottom: 20px; 
    max-height: calc(100vh - 10vh - 20px); 
    overflow-y: auto;}